#header {
    &__home {
        background: $bg-image no-repeat center right/cover;
        height: 100vh;
        color: #fff;

        .header-content {
            text-align: center;
            padding-top: 30%;
        }

        h1 {
            font-size: 4rem;
            line-height: 1.2;
        }

        .typewrite {
            display: block;
        }
    }
}