@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.container {
  max-width: 1200px;
  padding: 0 1.4rem;
  margin: auto; }

.btn-primary, .btn-light, .btn-dark {
  display: inline-block;
  padding: .7rem 2rem;
  transition: all .5s;
  border: none;
  cursor: pointer; }

.btn-primary {
  color: #333;
  background-color: #006978; }

.btn-light {
  color: #333;
  background-color: #FFD4CA; }

.btn-dark {
  color: #333;
  background-color: #006978; }

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"] {
  background-color: #006978; }

.bg-dark {
  background-color: #006978; }

.bg-primary {
  background-color: #006978; }

.bg-light {
  background-color: #FFD4CA; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #006978; }

ul {
  list-style: none; }

img {
  width: 100%; }
